<!-- <p>my-listing-page works!</p> -->

<div>
    <div class="content-box" *ngFor="let list of listing">
        <h3>{{list.name}}</h3>
        <p> {{list.desc}} </p>
        <p>{{list.price}}</p>

        <div class="button-container">
            <a routerLink="/edit-listing/{{list.id}}">
                <button>Edit</button>
            </a>
            <button (click)="onDeletedClicked(list.id)">Delete</button>
        </div>
    </div>
    <a routerLink="/new-listing"> <button>Create New Listing</button> </a>
</div>
