<!-- <p>listing-data-page works!</p> -->

<form (ngSubmit)="onButtonClicked()">
    <label for="name">
        Name:
    </label>
    <input type="text" id="name" name="name" [(ngModel)]="name" />

    <label for="desc">
        Description:
    </label>
    <textarea rows="2" cols="30"  id="desc" name="desc" [(ngModel)]="description" ></textarea>

    <label for="name">
        Price:
    </label>
    <input type="text" id="price" name="price" [(ngModel)]="price" />

    <button type="submit">{{buttonText}}</button>
</form>