<!-- <p>contact-page works!</p> -->

<div>
    <div class="content-box">
        <h3>Send the message to owner</h3>
        <div>
            <label for="email">
                Email:
            </label>
            <input type="text" name="email" [(ngModel)]="email" />
        </div>
        <div>
            <label for="message">
                Message:
            </label>
            <input type="textarea" name="message" [(ngModel)]="message" />
        </div>
        <button (click)="sendMessage()">Send</button>
    </div>
</div>
